<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">

  <ng-container *ngIf="checkColsAmmount(3)">
    <div *ngFor="let col of [column1, column2, column3]; let i = index">
      <div *ngFor="let c of col; trackBy: trackById" class="mb-4">

        <app-card class="justify-center"
          [content]="c"
          (onClickImageEvent)="openImageViewer($event)">
        </app-card>

      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="checkColsAmmount(2)">
    <div *ngFor="let col of [column1, column2]; let i = index">
      <div *ngFor="let c of col; trackBy: trackById" class="mb-4">

        <app-card class="justify-center"
          [content]="c"
          (onClickImageEvent)="openImageViewer($event)">
        </app-card>

      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="checkColsAmmount(1)">
      <div *ngFor="let c of column1; trackBy: trackById" class="mb-4">

        <app-card class="justify-center"
          [content]="c"
          (onClickImageEvent)="openImageViewer($event)">
        </app-card>

      </div>
  </ng-container>

</div>