<div class="h-screen bg-gradient-to-b from-primary to-primary w-64 p-6 shadow-xl rounded-tr-3xl rounded-br-3xl flex flex-col justify-between">
  <div>
    <h1 class="text-3xl font-bold text-info mb-10 font-serif">Art Portfolio</h1>
    <nav class="space-y-4">
      
      <a *ngFor="let b of buttons; trackBy: trackById;" 
        [routerLink]="[`/${b.path}`]" routerLinkActive="router-link-active" class="flex items-center text-info hover:text-emerald-600 transition-colors">
        <svg class="w-5 h-5 mr-3" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 10l-6 6-4-4-6 6" />
        </svg>
        {{b.label}}
      </a>

    </nav>
  </div>
  <div class="text-sm text-info mt-10">
    <p>&copy; 2025 Il tuo nome</p>
    <p class="italic">"L'arte è la natura dell’anima."</p>
  </div>
</div>
