@import "tailwindcss";

/** nuova direttiva tailwind per far funzionare le classi relative*/
@theme {
  --color-primary:   #550421;
  --color-secondary: #D05463;
  --color-info:      #665C75;
  --color-success:   #10b981;
  --color-warning:   #f59e0b;
  --color-danger:    #ef4444;
  --color-border:    #665C75;
}

/* body {
  font-family: 'Winky Rough', cursive;
} */


@layer utilities {
  @keyframes dropdown {
    0% {
      transform: scaleY(0);
      opacity: 0;
    }
    100% {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  .animate-dropdown {
    animation: dropdown 0.3s ease-out forwards;
  }
}

/** MASONRY - NON PIù USATO */

.masonry-container {
  display: block;
  position: relative;
}

.masonry-item {
  margin-bottom: 16px;
}

.masonry-sizer {
  width: 33.3333%;
}

/** SCROLBAR */

/* Scrollbar naturale */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #d1fae5; /* emerald-100 */
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #10b981; /* emerald-500 */
  border-radius: 9999px;
  border: 2px solid #d1fae5; /* padding effetto */
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #10b981 #d1fae5;
}



